.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: 'Title', class: 'proto-new-title'
        .row
          .col-md-12
            .cover-image-upload
              = f.fields_for :captured_images, @captured_images.main do |image|
                = image_tag (), { id: 'main_image_preview', class: 'col-md-12' }
                = image.file_field :name
                = image.hidden_field :status, value: 'main'
          .col-md-12
            %ul.proto-sub-list.list-group
              - @captured_images.sub.each do |sub|
                %li.list-group-item.col-md-4
                  .image-upload
                    = f.fields_for :captured_images, sub do |image|
                      =image.file_field :name
                      =image.hidden_field :status, value: 'sub'
        .row.proto-description
          .col-md-12
            = f.text_field :cost, placeholder: 'how much did it cost'
          .col-md-12
            = f.text_field :time, placeholder: 'how long did it take?'
        = f.fields_for :tags do |tag|
          .col-md-12
            %h4 Tag List
            .row
              .col-md-3
                = tag.text_field :'0'
              .col-md-3
                = tag.text_field :'1'
              .col-md-3
                = tag.text_field :'2'
        .row.text-center.proto-btn
          = f.submit 'PUBLISH', class: 'btn btn-lg btn-primary btn-block'
