.container.user-page
  %header.user-nav
    .media
      .media-left
        = image_tag current_user.avatar, width: 64, height: 64
      .media-body
        %h4#top-aligned-media.media-heading
          = current_user.name
          %span.label.label-default.project-number
            = current_user.prototypes.count
            %i Projects
        .proto-user
          %span.degree
            = current_user.position
        .row
          .col-md-6
            %h4 Member
            %p
              = current_user.member
          .col-md-6
            %h4 Profile
            %p
              = current_user.profile
.container.proto-list
  .row
    = render @prototypes
.text-center
  = paginate @prototypes
