- if user_signed_in? && @prototype.like_user(current_user)
  = link_to prototype_like_path(@like, prototype_id: @prototype.id), method: :delete, id: 'like-button', remote: true do
    %button.btn.btn-default
      = image_tag "icon_heart_red.svg"
      %span.num
        Like
        = @prototype.likes.count
- else
  = link_to prototype_likes_path(@prototype), method: :post, id: 'like-button', remote: true do
    %button.btn.btn-default
      = image_tag 'icon_heart.svg'
      %span.num
        Like
        = @prototype.likes.count
