- if user_signed_in? && @prototype.whether_user_liked(current_user)
  = link_to prototype_like_path(@like, prototype_id: @prototype.id), method: :delete, id: 'like-button', remote: true do
    = button_tag(class: 'btn btn-default')do
      = image_tag 'icon_heart_red.svg'
      %span.num
        Like
        = @prototype.likes_count

- else
  = link_to prototype_likes_path(@prototype), method: :post, id: 'like-button', remote: true do
    = button_tag(class: 'btn btn-default')do
      = image_tag 'icon_heart.svg'
      %span.num
        Like
        = @prototype.likes_count
